<div class="navbar-component">
    <div class="logo">
        <a routerLink="">E-COMM</a>
        
    </div>
    <div *ngIf="menyType==='normalUser'" class="search">
        <input type="text" placeholder="Search something">
        <button>Search</button>
    </div>
    <ul *ngIf="menyType==='normalUser'">
        <li><a routerLink="/seller-auth">Seller</a></li>
        <li><a routerLink="">Home</a></li>
       
        <li>Login</li>
        <li>Cart</li>
    </ul>


    <!-- seller nacbar -->

    <ul *ngIf="menyType==='seller'">
        <li><a routerLink="/seller-add-product">Add Product</a></li>
        <li>Update Product</li>
      
        <li><a routerLink="/seller-show-product">Show Product</a></li>
        <li (click)="logoutSeller()">LogOut</li>
        <li>{{sellerName}}</li>

    </ul>
</div>