.add-product-component{
    display: flex;
    align-items: center;
    justify-content: center;
   
    form{
        
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        justify-content: center;
        input{
            margin: 10px 0px;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.364);
            border-radius: 3px;
        }
    }
}